a1/alfio-pi-1.0.0-SNAPSHOT.jar
a1/alfio-pi-*.jar
a1/alfio-pi-keystore.jks
a1/alfio-pi-synckv
a1/alfio.data
a1/alfio.log
a1/alfio.properties
a1/alfio.script
a1/logs/

a2/alfio-pi-1.0.0-SNAPSHOT.jar
a2/alfio-pi-*.jar
a2/alfio-pi-keystore.jks
a2/alfio-pi-synckv
a2/alfio.data
a2/alfio.log
a2/alfio.properties
a2/alfio.script
a2/logs/
